
.mov-con{
    transform: translateY(164px);
}


.hfourall{
    transform: translateX(86px);
}


.all{
        transform: translateX(86px);
}

.hone{
    display: flex;
    justify-content: flex-end;
    color: red;
}



.back-one-second{
    background: url("../asstes/images/rec/rec1.jpg") center no-repeat; 
    width: 100px;
    height: 365px;
    background-size: cover;
}


.back-one-second:hover{
    border-left: red solid 5px;
    transform: scale(1.1);
    transition: .2s ease-in;
    position: relative;
    z-index: 1;
}



.back-one h1 , p {
    padding-left: 19px;
}


.back-one-h1{
    color: white;
    padding-top: 20px;
}

.back-one-p{
color: white;
}

.back-one-bnt{
    transform: translateX(21px);
    background-color: red;
    width: 150px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.back-one-bnt:hover{
background-color: rgb(137, 0, 0);
}



.back-two-second{
    background: url("../asstes/images/rec/rec2.jpg") center no-repeat; 
    width: 100px;
    height:365px;
    
    background-size: cover;
}

.back-two-second:hover{
    border-left: red solid 5px;
    transform: scale(1.1);
    transition: .2s ease-in;
    position: relative;
    z-index: 1;
    
}



.back-two h1 , p {
    padding-left: 19px;
}


.back-two-h1{
    color: white;
    padding-top: 20px;
}

.back-two-p{
color: white;
}

.back-two-bnt{
    transform: translateX(21px);
    background-color: red;
    width: 150px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.back-two-bnt:hover{
background-color: rgb(137, 0, 0);
}















.back-there-second{
    background: url("../asstes/images/rec/rec3.jpg") center no-repeat; 
    width: 100px;
    height: 365px;
    
    background-size: cover;
}
.back-there-second:hover{
    border-left: red solid 5px;
    transform: scale(1.1);
    transition: .2s ease-in;
    position: relative;
    z-index: 1;
    
}



.back-there h1 , p {
    padding-left: 19px;
}


.back-there-h1{
    color: white;
    padding-top: 20px;
}

.back-there-p{
color: white;
}

.back-there-bnt{
    transform: translateX(21px);
    background-color: red;
    width: 150px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.back-there-bnt:hover{
background-color: rgb(137, 0, 0);
}



.back-four-second{
    background: url("../asstes/images/rec/rec4.jpg") center no-repeat; 
    width: 100px;
    height: 365px;
    
    background-size: cover;
}


.back-four-second:hover{
    border-left: red solid 5px;
    transform: scale(1.1);
    transition: .2s ease-in;
    position: relative;
    z-index: 1;
    
}



.back-four h1 , p {
    padding-left: 19px;
}


.back-four-h1{
    color: white;
    padding-top: 20px;
}

.back-four-p{
color: white;
}

.back-four-bnt{
    transform: translateX(21px);
    background-color: red;
    width: 150px;
    border: none;
    text-transform: uppercase;
    color: white;
}

.back-four-bnt:hover{
background-color: rgb(137, 0, 0);
}



@media (max-width:767px) {
    .up{
        transform: translateY(38px);
    }
    .hfourall{
        position: relative;
        left: 159px;
    }
    .all{
        position: relative;
        left: 159px;
        top: -39px;
    }
    .slider-container{
        width: 159%;
    }
   
}
